<!--Passando o formulaŕio para o angular -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="nome">Nome</label>
    <!--name + ngModel informa a aungular o valore do campo-->
    <input type="text" class=form-control name="nome"
    id="nome" placeholder="Nome" [ngModel]="usuario.nome"
    required #nome>
    <div>
       {{ nome.className}}
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class=form-control  name="email"
    id="email" placeholder="nome@gmail.com" [ngModel]="usuario.email"
    required email>
  </div>

   <button type="submit" class="btn btn-primary">Submit</button>

 </form>
