<nav class="navbar navbar-default">

  <div class="navbar-header">
    <a class="navbar-brand" [routerLink]="">Angular Forms</a>
  </div>

  <ul class="nav navbar-nav">
      <li routerLinkActive="active" >
        <a routerLink="/templateForm" >Form - Template Driven</a>
      </li>
      <li routerLinkActive="active" >
        <a routerLink="/dataForm" >Form - Template Driven</a>
      </li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
